
@import 'variables';

.about-intro {
    height: calc(100vh - 80px - 53px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 $mobileOuterPadding;
}

.about-feature-image {
    height: 300px;
    width: 100%;
    background-image: url("../images/me2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    img {
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.location-outer {
    padding: 100px $mobileOuterPadding;

    h2 {
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        margin-top: 50px;
        border-radius: 6px;
    }
}

.skills-outer {
    padding: 0 $mobileOuterPadding;

    h2 {
        margin-bottom: 20px;
    }

    .skill-tile-section {
        margin: 50px 0 100px;


    .accordion {
        background-color: #F1FBF8;
        font-size: 22px;
        font-family: $main-font-medium;
        color: #55CFA7;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        text-align: left;
        border: none;
        border-radius: 6px;
        outline: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:after {
            content: '\002B';
            font-size: 28px;
            color: #55CFA7;
            float: right;
            transition: 0.3s;
        }
    }

    .active:after {
        transform: rotate(45deg);
        color: #55CFA7;
        transition: 0.3s;
    }
    
    .active, .accordion:hover {
        border-radius: 6px 6px 0 0;
    }
    
    .panel {
        padding: 0 20px;
        background-color: #F1FBF8;
        max-height: 0;
        margin-bottom: 15px;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;

        p {
            padding-bottom: 20px;
        }
    }
    
    .accordion:nth-child(3) {
        background-color: #F1F0FE;
        color: #6155FF;

        &:after {
            color: #6155FF;
        }
    }

    .panel:nth-child(4) {
        background-color: #F1F0FE;
    }

    .accordion:nth-child(5) {
        background-color: #FFF6EC;
        color: #FF8D0F;

        &:after {
            color: #FF8D0F
        }
    }

    .panel:nth-child(6) {
        background-color: #FFF6EC;
    }

    }
}

.large-feature-image {
    height: 100vh;
    width: 100%;
    background-image: url("../images/stroud-valley.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-logo-wall-outer {
    padding: 100px $mobileOuterPadding 0;
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        margin: 17.5px 0;
        opacity: 0.2;
    }
}