
@import 'variables';

.about-intro-container {

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        padding: 0;
    }
    
    .about-intro-copy {
        height: calc(100vh - 20vh - 53px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 $mobileOuterPadding;

        @include mq($mobileMediumMediaQuery) {
            height: calc(100vh - 35vh - 53px);
        }
    
        @include mq($tabletMediaQuery) {
            padding: 0;
            height: calc(100vh - 50vh - 63px);
            max-width: 490px;
            margin: 0 auto;
        }

        @include mq($laptopMediaQuery) {
            text-align: left;
            margin: 0;
            height: calc(100vh - 15vh - 100px);
            align-items: flex-start;
            max-width: 480px;
        }

        @include mq($desktopMediaQuery) {
            max-width: $laptopMediaQuery;
            margin: 0 auto;
            height: calc(100vh - 25vh - 100px);

            h1, p {
                max-width: 660px;
            }
        }
    }

    .about-feature-wrapper {
        position: relative;

        .about-down-arrow {
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;

            @include mq($laptopMediaQuery) {
                display: none;
            }
        }

        .about-feature-image-container {

            @include mq($laptopMediaQuery) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 25px;
            }
    
            @include mq($desktopMediaQuery) {
                max-width: $desktopMediaQuery;
                margin: 0 auto;
                grid-gap: 30px;
            }
    
            .about-feature-image-mask {
                height: 65vh;
                width: 100%;
                max-height: 400px;
                min-height: 280px;
    
                @include mq($tabletMediaQuery) {
                    height: 60vh;
                    border-radius: 6px;
                    min-height: 550px;
                    max-height: 640px;
                }
        
                @include mq($laptopMediaQuery) {
                    height: 70vh;
                    min-height: 500px;
                    max-height: 600px; 
                    border-radius: 10px;
                }

                @include mq($desktopMediaQuery) {
                    max-height: 700px;
                    min-height: 680px;
                }
    
                .about-feature-image {
                    background-image: url("../images/me-ben-nevis.jpg");
                }
    
                &:nth-child(2) {
                    display: none;
        
                    @include mq($laptopMediaQuery) {
                        display: initial;
                        margin-top: -90px;
                    }
        
                    @include mq($desktopMediaQuery) {
                        margin-top: -100px;
                    }

                    .about-feature-image {
                        height: 110%;
                        background-image: url("../images/me-dogs-comp.jpg");
    
                        @include mq($desktopMediaQuery) {
                            height: 120%;
                        }
                    }
                }
            }
        }
    }
}



.location-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include mq($laptopMediaQuery) {
        padding: 150px $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        padding: 170px 0;
        max-width: $laptopMediaQuery;
        margin: 0 auto;
    }

    .location-copy {

        @include mq($tabletMediaQuery) {
            width: 40%;
        }

        @include mq($desktopMediaQuery) {
            width: 47%;
        }

        h2 {
            margin-bottom: 20px;
        }
    }

    .map-container {
        position: relative;
        width: 100%;
        margin-top: 50px;

        @include mq($tabletMediaQuery) {
            width: 50%;
            margin-top: 0;
        }

        .map-pin {
            width: 20px;
            height: 20px;
            background-color: #55CFA7;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 33%;
            z-index: 3;

            @include mq($laptopMediaQuery) {
                width: 25px;
                height: 25px;
            }
        }

        .map-pin-pulse {
            background-color: #55CFA7;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 33%;
            z-index: 2;
            animation: pulsate 2s ease-out;
            animation-iteration-count: infinite; 
            opacity: 0.0;

            @include mq($laptopMediaQuery) {
                width: 25px;
                height: 25px;
            }

            @keyframes pulsate {
                0% { -webkit-transform: scale(0.1, 0.1); opacity: 0.0; }
                50% { opacity: 0.3; }
                100% { -webkit-transform: scale(3, 3); opacity: 0.0; }
            }

        }
     
        img {
            width: 100%;
        }
    }
}

.skills-outer {
    padding: 0 $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        padding: 0;
        max-width: $laptopMediaQuery;
        margin: 0 auto;
    }

    .skills-copy {

        @include mq($tabletMediaQuery) {
            max-width: 360px;
        }

        @include mq($laptopMediaQuery) {
            max-width: 470px;
        }

        h2 {
            margin-bottom: 20px;
        }
    }

    .skill-tile-section {
        margin: 50px 0 100px;

        @include mq($tabletMediaQuery) {
            margin: 50px 0 125px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

        @include mq($laptopMediaQuery) {
            margin: 50px 0 150px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
        }

        @include mq($desktopMediaQuery) {
            margin: 50px 0 170px;
        }

    .accordion {
        background-color: #F1FBF8;
        font-size: 22px;
        font-family: $main-font-medium;
        color: #55CFA7;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        text-align: left;
        border: none;
        border-radius: 6px;
        outline: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:after {
            content: '\002B';
            font-size: 28px;
            color: #55CFA7;
            float: right;
            transition: 0.3s;
        }

        @include mq($tabletMediaQuery) {
            display: none;
        }
    }

    .active:after {
        transform: rotate(45deg);
        color: #55CFA7;
        transition: 0.3s;
    }
    
    .active, .accordion:hover {
        border-radius: 6px 6px 0 0;
    }
    
    .panel {
        padding: 0 20px;
        background-color: #F1FBF8;
        max-height: 0;
        margin-bottom: 15px;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;

        @include mq($tabletMediaQuery) {
            max-height: initial;
            padding: 40px;
            margin-bottom: 0;
            border-radius: 6px;
        }

        @include mq($laptopMediaQuery) {
            padding: 50px 40px;
            border-radius: 10px;
            transition: 0.2s ease-out margin;

            &:hover {
                margin-top: -10px;
                margin-bottom: 10px;
            }
        }

        img {
            display: none;

            @include mq($tabletMediaQuery) {
                display: block;
                width: 40px;
                margin-bottom: 20px;
            }
        }

        h5 {
            display: none;

            @include mq($tabletMediaQuery) {
                display: block;
                font-size: 22px;
                font-family: $main-font-regular;
                color: $headerColour;
                margin-bottom: 12px;
            }
        }

        p {
            padding-bottom: 20px;

            @include mq($tabletMediaQuery) {
                padding: 0;
            }
        }
    }
    
    .purple-panel, 
    .purple-accordion {
        background-color: #F1F0FE;
        color: #6155FF;

        &:after {
            color: #6155FF;
        }
    }

    .orange-panel, 
    .orange-accordion {
        background-color: #FFF6EC;
        color: #FF8D0F;

        &:after {
            color: #FF8D0F
        }
    }
    }
}

.about-middle-image-wrapper {
    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        padding: 0 $desktopOuterPadding;
    }

    .middle-feature-image-container {
        height: 100vh;
        min-height: 568px;
        max-height: 800px;
    
        @include mq($tabletMediaQuery) {
            height: 515px;
            min-height: initial;
            max-height: initial;
            border-radius: 6px;
        }
    
        @include mq($laptopMediaQuery) {
            height: 600px;
            border-radius: 10px;
        }
    
        @include mq($desktopMediaQuery) {
            height: 92vh;
        }
    }
}




.about-logo-wall-outer {
    padding: 100px $mobileOuterPadding 0;
    
    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding 0;
    }

    @include mq($laptopMediaQuery) {
        padding: 150px $laptopOuterPadding 0;
    }

    @include mq($desktopMediaQuery) {
        padding: 170px 0 0;
        max-width: $laptopMediaQuery;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        margin-bottom: 35px;

        @include mq($tabletMediaQuery) {
            max-width: 408px;
            margin: 0 auto 50px;
        }

        @include mq($laptopMediaQuery) {
            margin: 0 auto 80px;
        }

        @include mq($desktopMediaQuery) {
            max-width: 700px;
            margin: 0 auto 100px;
        }
    }

    .logo-wall-container {
        width: 70%;
        margin: 0 auto;

        @include mq($tabletMediaQuery) {
            width: 100%;
            display: grid;
            grid-gap: 40px 50px;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        }

        @include mq($laptopMediaQuery) {
            grid-gap: 60px 50px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @include mq($desktopMediaQuery) {
            grid-gap: 80px 60px;
        }

        img {
            width: 100%;
            margin: 10px 0;
            opacity: 0.7;
            transition: 0.2s opacity;

            @include mq($tabletMediaQuery) {
                margin: 0;
            }

            @include mq($laptopMediaQuery) {
                &:hover {
                    opacity: 1;
                }
            }
        }

        img:nth-child(6),
        img:nth-child(7),
        img:nth-child(8),
        img:nth-child(9),
        img:nth-child(10),
        img:nth-child(11),
        img:nth-child(12) {
            display: none;

            @include mq($tabletMediaQuery) {
                display: initial;
            }
        }
    }
}