

footer {
    background-color: #000;
    // padding-bottom: 50px;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;

    .footer-inner {
        opacity: 0;
        transform: translateY(80px);
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .show-footer{
        opacity: 1 !important;
        transform: translateY(0);
    }

    .cta-section {
        text-align: center;
        position: absolute;
        bottom: 60%;

        @include mq($tabletMediaQuery) {
            text-align: left;
            padding: 0 $tabletOuterPadding;
            bottom: 50%;
            width: 100%;
        }

        @include mq($laptopMediaQuery) {
            padding: 0 $laptopOuterPadding;
        }

        @include mq($desktopMediaQuery) {
            padding: 0;
            max-width: $desktopMediaQuery;
            margin: 0 auto;
        }

        p:nth-child(1) {
            color: white;
            font-size: 30px;
            font-family: $main-font-regular;
            margin-bottom: 10px;

            @include mq($tabletMediaQuery) {
                font-size: 60px;
                margin-bottom: 35px;
            }

            @include mq($laptopMediaQuery) {
                font-size: 68px;
                margin-bottom: 25px;
            }

            @include mq($desktopMediaQuery) {
                font-size: 80px;
                margin-bottom: 35px;
            }
        }

        .footer-inline-link {
            position: relative;
            display: inline-block;
            color: white;
            font-size: 30px;
            font-family: $main-font-semibold !important;
            padding-bottom: 4px;
            border-bottom: 2px solid white;

            @include mq($tabletMediaQuery) {
                font-size: 60px;
            }

            @include mq($laptopMediaQuery) {
                font-size: 68px;
                padding-bottom: 7px;
                border-bottom: 0;

                &:after {
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.3s;

                    @include mq($desktopMediaQuery) {
                        height: 4.5px;
                    }
                }
            
                &:hover {
                    &:after {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }
                }
            }

            @include mq($desktopMediaQuery) {
                font-size: 80px;
            }
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        bottom: 50px;

        @include mq($tabletMediaQuery) {
            flex-direction: row;
            text-align: left;
            align-items: initial;
            justify-content: space-between;
            padding: 0 $tabletOuterPadding;
            width: 100%;
        }

        @include mq($laptopMediaQuery) {
            padding: 0 $laptopOuterPadding;
        }

        @include mq($desktopMediaQuery) {
            padding: 0;
            max-width: $desktopMediaQuery;
            margin: 0 auto;
        }

        .footer-bottom-left-col {
            
            img {
                margin-bottom: 20px;
            }
    
            p {
                max-width: 230px;
                color: white;
                margin-bottom: 35px;

                @include mq($tabletMediaQuery) {
                    margin: 0;
                }

                @include mq($laptopMediaQuery) {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }

        .footer-bottom-right-col {

            nav {
                display: none;

                @include mq($tabletMediaQuery) {
                    display: initial;

                    a {
                        color: white;
                        font-family: $main-font-medium;
                        text-decoration: none;
                        margin-left: 30px;

                        @include mq($tabletMediaQuery) {
                            transition: 0.3s;
                            &:hover {
                                color: rgba(255,255,255,0.7)
                            } 
                        }
                    }
                }
            }

            .social-icon-wrapper {
                display: flex;
                flex-direction: row;

                @include mq($tabletMediaQuery) {
                    margin-top: 35px;
                    justify-content: flex-end;
                }
        
                .footer-social-icon {
                    padding: 0;
                    height: 42px;
                    width: 42px;
                    background-color: rgba(255,255,255,0.2) !important;
                    margin: 0 4px;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;

                    @include mq($tabletMediaQuery) {
                        margin: 0 5px;
                    }

                    @include mq($laptopMediaQuery) {
                        &:hover {
                            background-color: rgba(255,255,255,0.3) !important;
                        }
                    }
                }

                .instagram {
                    background: url("../images/instagram-white.svg") center center/18px no-repeat;
                }

                .dribbble {
                    background: url("../images/dribbble-white.svg") center center/18px no-repeat;
                }
                
                .linkedin {
                    background: url("../images/linkedin-white.svg") center center/17px no-repeat;
                }

                .github {
                    background: url("../images/github-white.svg") center center/18px no-repeat;
                }
            }
        }
    }
}