
footer {
    background-color: #000;
    padding-bottom: 30px;

    @include mq($tabletMediaQuery) {
        padding-bottom: 60px;
    }

    @include mq($desktopMediaQuery) {
        padding-bottom: 100px;
    }

    .cta-section {
        text-align: center;
        padding: 100px 0 70px;

        @include mq($tabletMediaQuery) {
            text-align: left;
            padding: 110px $tabletOuterPadding;
        }

        @include mq($laptopMediaQuery) {
            padding: 160px $laptopOuterPadding 90px;
        }

        @include mq($desktopMediaQuery) {
            padding: 190px 0 170px;
            max-width: $desktopMediaQuery;
            margin: 0 auto;
        }

        p:nth-child(1) {
            color: white;
            font-size: 30px;
            font-family: $main-font-semibold;
            margin-bottom: 15px;

            @include mq($tabletMediaQuery) {
                font-size: 50px;
                margin-bottom: 35px;
            }

            @include mq($laptopMediaQuery) {
                font-size: 68px;
                margin-bottom: 50px;
            }

            @include mq($desktopMediaQuery) {
                font-size: 80px;
                margin-bottom: 65px;
            }
        }

        p:nth-child(2) {
            display: inline-block;
            color: white;
            font-size: 30px;
            font-family: $main-font-regular;
            padding-bottom: 5px;
            border-bottom: 2px solid white;

            @include mq($tabletMediaQuery) {
                font-size: 50px;
                padding-bottom: 20px;
                border-bottom: 3px solid white;
            }

            @include mq($laptopMediaQuery) {
                font-size: 68px;
                padding-bottom: 30px;
                border-bottom: 4px solid white;
            }

            @include mq($desktopMediaQuery) {
                font-size: 80px;
                padding-bottom: 40px;
            }
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include mq($tabletMediaQuery) {
            flex-direction: row;
            text-align: left;
            align-items: initial;
            justify-content: space-between;
            padding: 0 $tabletOuterPadding;
        }

        @include mq($laptopMediaQuery) {
            padding: 0 $laptopOuterPadding;
        }

        @include mq($desktopMediaQuery) {
            padding: 0;
            max-width: $desktopMediaQuery;
            margin: 0 auto;
        }

        .footer-bottom-left-col {
            
            img {
                margin-bottom: 20px;
            }
    
            p {
                max-width: 230px;
                color: white;
                margin-bottom: 35px;

                @include mq($tabletMediaQuery) {
                    margin: 0;
                }

                @include mq($laptopMediaQuery) {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }

        .footer-bottom-right-col {

            nav {
                display: none;

                @include mq($tabletMediaQuery) {
                    display: initial;

                    a {
                        color: white;
                        font-family: $main-font-medium;
                        text-decoration: none;
                        margin-left: 30px;
                    }
                }
            }

            .social-icon-wrapper {

                @include mq($tabletMediaQuery) {
                    margin-top: 35px;
                    text-align: right;
                }
        
                img {
                    padding: 0;
                    padding: 0 3px;

                    @include mq($tabletMediaQuery) {
                        padding: 0 6px;
                    }
                }
            }
        }
    }
}