footer {
    background-color: #000;
    padding-bottom: 30px;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;

    @include mq($tabletMediaQuery) {
        padding-bottom: 60px;
    }

    @include mq($desktopMediaQuery) {
        padding-bottom: 100px;
    }

    .cta-section {
        text-align: center;
        padding: 100px 0 70px;

        @include mq($tabletMediaQuery) {
            text-align: left;
            padding: 110px $tabletOuterPadding;
        }

        @include mq($laptopMediaQuery) {
            padding: 160px $laptopOuterPadding 90px;
        }

        @include mq($desktopMediaQuery) {
            padding: 190px 0 170px;
            max-width: $desktopMediaQuery;
            margin: 0 auto;
        }

        p:nth-child(1) {
            color: white;
            font-size: 30px;
            font-family: $main-font-semibold;
            margin-bottom: 15px;

            @include mq($tabletMediaQuery) {
                font-size: 50px;
                margin-bottom: 35px;
            }

            @include mq($laptopMediaQuery) {
                font-size: 68px;
                margin-bottom: 50px;
            }

            @include mq($desktopMediaQuery) {
                font-size: 80px;
                margin-bottom: 65px;
            }
        }

        p:nth-child(2) {
            display: inline-block;
            color: white;
            font-size: 30px;
            font-family: $main-font-regular;
            padding-bottom: 5px;
            border-bottom: 2px solid white;

            @include mq($tabletMediaQuery) {
                font-size: 50px;
                padding-bottom: 20px;
                border-bottom: 3px solid white;
            }

            @include mq($laptopMediaQuery) {
                font-size: 68px;
                padding-bottom: 30px;
                border-bottom: 4px solid white;
            }

            @include mq($desktopMediaQuery) {
                font-size: 80px;
                padding-bottom: 40px;
            }
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include mq($tabletMediaQuery) {
            flex-direction: row;
            text-align: left;
            align-items: initial;
            justify-content: space-between;
            padding: 0 $tabletOuterPadding;
        }

        @include mq($laptopMediaQuery) {
            padding: 0 $laptopOuterPadding;
        }

        @include mq($desktopMediaQuery) {
            padding: 0;
            max-width: $desktopMediaQuery;
            margin: 0 auto;
        }

        .footer-bottom-left-col {
            
            img {
                margin-bottom: 20px;
            }
    
            p {
                max-width: 230px;
                color: white;
                margin-bottom: 35px;

                @include mq($tabletMediaQuery) {
                    margin: 0;
                }

                @include mq($laptopMediaQuery) {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }

        .footer-bottom-right-col {

            nav {
                display: none;

                @include mq($tabletMediaQuery) {
                    display: initial;

                    a {
                        color: white;
                        font-family: $main-font-medium;
                        text-decoration: none;
                        margin-left: 30px;

                        @include mq($tabletMediaQuery) {
                            transition: 0.3s;
                            &:hover {
                                color: rgba(255,255,255,0.7)
                            } 
                        }
                    }
                }
            }

            .social-icon-wrapper {
                display: flex;
                flex-direction: row;

                @include mq($tabletMediaQuery) {
                    margin-top: 35px;
                    justify-content: flex-end;
                }
        
                .footer-social-icon {
                    padding: 0;
                    height: 42px;
                    width: 42px;
                    background-color: rgba(255,255,255,0.2) !important;
                    margin: 0 4px;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;

                    @include mq($tabletMediaQuery) {
                        margin: 0 5px;
                    }

                    @include mq($laptopMediaQuery) {
                        &:hover {
                            background-color: rgba(255,255,255,0.3) !important;
                        }
                    }
                }

                .footer-social-icon:nth-child(1) {
                    background: url("../images/instagram-white.svg") center center/18px no-repeat;
                }

                .footer-social-icon:nth-child(2) {
                    background: url("../images/dribbble-white.svg") center center/18px no-repeat;
                }
                
                .footer-social-icon:nth-child(3) {
                    background: url("../images/linkedin-white.svg") center center/17px no-repeat;
                }

                .footer-social-icon:nth-child(4) {
                    background: url("../images/github-white.svg") center center/18px no-repeat;
                }
            }
        }
    }
}