///-----------------------------------------------------------------------------///
/// Global Styles                                                               ///
///-----------------------------------------------------------------------------///

@import 'variables';

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.divider-line {
    margin: 0 $mobileOuterPadding;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.1);

    @include mq($tabletMediaQuery) {
        margin: 0 $tabletOuterPadding;
    }
}

// main {
//     padding: 0 $mobileOuterPadding;
// }