///-----------------------------------------------------------------------------///
/// Global Styles                                                               ///
///-----------------------------------------------------------------------------///

@import 'variables';

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

.stop-scroll {
    overflow: hidden;
}

body {
    height: 100%;
    -ms-overflow-style: none; 
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

main {
    background-color: #fff;
}

.divider-line {
    margin: 0 $mobileOuterPadding;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.1);

    @include mq($tabletMediaQuery) {
        margin: 0 $tabletOuterPadding;
    }

    @include mq($laptopMediaQuery) {
        margin: 0 $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        margin: 0 auto;
        max-width: $desktopMediaQuery;
    }
}

.show-menu-items {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.back-to-top {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    // display: none;
    height: 23px;
    width: 23px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4) !important;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: url("../images/arrow-up-white.svg") center center/9px no-repeat;
    transition: 0.2s;
    cursor: pointer;

    @include mq($tabletMediaQuery) {
        height: 30px;
        width: 30px;
        right: 20px;
        bottom: 20px;
        background: url("../images/arrow-up-white.svg") center center/12px no-repeat;
    }

    @include mq($laptopMediaQuery) {
        right: 24px;
        bottom: 24px;

        &:hover {
            background-color: rgba(0,0,0,1) !important;
        }
    }

    @include mq($desktopMediaQuery) {
        width: 34px;
        height: 34px;
        background: url("../images/arrow-up-white.svg") center center/13px no-repeat;
        border-radius: 8px;
    }
}

.down-arrow {
    height: 37px;
    width: 37px;
    position: absolute;
    top: -16px;
    left: 50%;
    background-color: #025450 !important;
    transform: translateX(-50%);
    border-radius: 6px;
    background: url("../images/arrow-down.svg") center center/12px no-repeat;

    @include mq($tabletMediaQuery) {
        height: 40px;
        width: 40px;
        background: url("../images/arrow-down.svg") center center/16px no-repeat;
    }

    @include mq($laptopMediaQuery) {
        transition: 0.2s ease-in-out;
        // cursor: pointer;
        height: 55px;
        width: 55px;
        top: -25px;
        border-radius: 10px;
        background: url("../images/arrow-down.svg") center center/20px no-repeat;
    }
}

.transition {
    position: fixed;
    height: 100%;
    top: -100%;
    right: 0;
    left: 0;
    z-index:9999;
    background-color: black;
    transition: 0.35s ease-in-out;

    &.is-active {
        top: 0;
    }
}

.transition-content {
    opacity: 0.01;
    transform: translateY(40px);
    transition: 0.6s ease;

    &.content-active {
        opacity: 1;
        transform: translateY(0);
    }
}


////////// PROJECT TILE ELEMENT
.featured-project-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;
    }

    @include mq($laptopMediaQuery) {
        padding: 150px $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        padding: 170px 0;
        max-width: $desktopMediaQuery;
        margin: 0 auto;
    }

    .featured-project-intro-copy {
        margin-bottom: 50px;

        @include mq($tabletMediaQuery) {
            margin-bottom: 60px;
            max-width: 370px;
        }

        @include mq($laptopMediaQuery) {
            max-width: 1190px;
            margin: 0 auto 170px;
        }

        h2 {
            margin-bottom: 20px;
            max-width: 220px;

            @include mq($tabletMediaQuery) {
                max-width: initial;
            }

            @include mq($laptopMediaQuery) {
                max-width: 550px;
            }
        }
    
        p {
            margin-bottom: 30px;
            
            @include mq($laptopMediaQuery) {
                max-width: 500px;
            }
        }
    }

    .project-tile-container {
        display: flex;
        flex-direction: column;

        @include mq($tabletMediaQuery) {
            flex-direction: row;

            .project-left-col {
                width: 50%;
                margin-right: 10px;

                @include mq($laptopMediaQuery) {
                    margin-right: 13px;
                }

                @include mq($desktopMediaQuery) {
                    margin-right: 25px;
                }
            }

            .project-right-col {
                width: 50%;
                margin-left: 10px;
                margin-top: -60px;

                @include mq($laptopMediaQuery) {
                    margin-top: -110px;
                    margin-left: 13px;
                }

                @include mq($desktopMediaQuery) {
                    margin-left: 25px;
                }
            }
        }

        .project-tile-wrapper {
            position: relative;
            margin-bottom: 20px;

            @include mq($laptopMediaQuery) {
                margin-bottom: 26px;
            }

            @include mq($desktopMediaQuery) {
                margin-bottom: 50px;
            }
    
            .project-tile-copy {
                position: absolute;
                top: 20px;
                left: 20px;

                @include mq($laptopMediaQuery) {
                    top: 50px;
                    left: 50px;
                }
    
                h3, p {
                    color: white;
                }
    
                p {
                    font-size: 14px;

                    @include mq($laptopMediaQuery) {
                        font-size: 20px;
                        margin-top: 3px;
                    }
                }
            }
    
            img {
                width: 100%;
                border-radius: 6px;

                @include mq($laptopMediaQuery) {
                    border-radius: 10px;
                }
            }
        }
    }
}