@import 'variables';

.intro-section-outer {

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding;
    }
    
    .intro-section {
        height: calc(100vh - 195px - 53px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 $mobileOuterPadding;
    
        @include mq($tabletMediaQuery) {
            height: calc(100vh - 534px - 63px);
        }
    }
    
    .feature-image {
        height: 300px;
        width: 100%;
        background-image: url("../images/stroud-valley.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    
        @include mq($tabletMediaQuery) {
            height: 557px;
            border-radius: 6px;
        }
    
        img {
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


.about-me-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .about-me-home-copy {
            width: 48%;
            margin: auto 0;
        }
    }

    h2 {
        margin-bottom: 20px;
        max-width: 220px;
        
        @include mq($tabletMediaQuery) {
            max-width: 260px;
        }
    }

    p {
        margin-bottom: 30px;
    }

    .about-me-home-image {
        width: 100%;
        margin-top: 50px;
        border-radius: 6px;

        @include mq($tabletMediaQuery) {
            width: 48%;
            margin: 0;
        }
    }
}

.logo-wall-outer {
    padding: 0 $mobileOuterPadding 100px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding 100px;
        width: initial;
        margin: 0;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    img {
        width: 100%;
        margin-top: 35px;
        opacity: 0.2;

        @include mq($tabletMediaQuery) {
            margin: 0;
        }
    }
}

.image-wall-outer {

    @include mq($tabletMediaQuery) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 24px;
    }

    .image-wall-mask {
        height: 275px;
        width: 100%;
        background-image: url("../images/stroud-valley.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include mq($tabletMediaQuery) {
            height: 390px;
            border-radius: 6px;
        }
    }

    .image-wall-mask:nth-child(2) {
        margin-top: 10px;

        @include mq($tabletMediaQuery) {
            margin: 0;
        }
    }
}

.featured-project-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;
    }

    .featured-project-intro-copy {
        margin-bottom: 50px;

        @include mq($tabletMediaQuery) {
            margin-bottom: 60px;
            max-width: 370px;
        }

        h2 {
            margin-bottom: 20px;
            max-width: 220px;

            @include mq($tabletMediaQuery) {
                max-width: initial;
            }
        }
    
        p {
            margin-bottom: 30px;
        }
    }

    .project-tile-container {
        display: flex;
        flex-direction: column;

        @include mq($tabletMediaQuery) {
            flex-direction: row;

            .project-left-col {
                width: 50%;
                margin-right: 10px;
            }

            .project-right-col {
                width: 50%;
                margin-left: 10px;
                margin-top: -60px;
            }
        }

        .project-tile-wrapper {
            position: relative;
            margin-bottom: 20px;
    
            .project-tile-copy {
                position: absolute;
                top: 20px;
                left: 20px;
    
                h3, p {
                    color: white;
                }
    
                p {
                    font-size: 14px;
                }
            }
    
            img {
                width: 100%;
                border-radius: 6px;
            }
        }
    }
}