@import 'variables';

.intro-section-outer {

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        padding: 0 $desktopOuterPadding;
    }
    
    .intro-section {
        height: calc(100vh - 195px - 53px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 $mobileOuterPadding;
    
        @include mq($tabletMediaQuery) {
            height: calc(100vh - 534px - 63px);
        }

        @include mq($laptopMediaQuery) {
            height: calc(100vh - 270px - 100px);
        }

        @include mq($desktopMediaQuery) {
            height: calc(100vh - 350px - 100px);
        }
    }

    .feature-image-wrapper {
        width: 100%;
        height: 50vh;
        
        @include mq($tabletMediaQuery) {
            height: 55vh;
            border-radius: 6px;
        }

        @include mq($laptopMediaQuery) {
            height: 80vh;
            border-radius: 10px;
        }

        @include mq($desktopMediaQuery) {
            height: 92vh;
        }

        .home-feature-image {
            background-image: url("../images/stroud-valley.jpg");
        }
    }
}


.about-me-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .about-me-home-copy {
            width: 48%;
            margin: auto 0;
        }
    }

    @include mq($laptopMediaQuery) {
        padding: 150px 0;
        max-width: 1190px;
        margin: 0 auto;
    }

    @include mq($desktopMediaQuery) {
        padding: 170px 0;
    }

    h2 {
        margin-bottom: 20px;
        max-width: 220px;
        
        @include mq($tabletMediaQuery) {
            max-width: 260px;
        }

        @include mq($laptopMediaQuery) {
            max-width: 400px;
        }

        @include mq($desktopMediaQuery) {
            max-width: 450px;
        }
    }

    p {
        margin-bottom: 30px;

        @include mq($laptopMediaQuery) {
            max-width: 450px;
            margin-bottom: 40px;
        }
    }

    .home-about-image-wrapper {
        width: 100%;
        height: 60vh;
        border-radius: 6px;
        margin-top: 50px;

        @include mq($tabletMediaQuery) {
            width: 48%;
            margin: 0;
            height: 45vh;
        }

        @include mq($laptopMediaQuery) {
            border-radius: 10px;
            height: 80vh;
        }

        @include mq($desktopMediaQuery) {
            height: 75vh;
        }

        .home-about-image {
            background-image: url("../images/me-main-silver.jpg");
        }
    }
}

.logo-wall-outer {
    padding: 0 $mobileOuterPadding 100px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding 100px;
        width: initial;
        margin: 0;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 0 150px;
        max-width: 1190px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 70px 90px;
    }

    @include mq($desktopMediaQuery) {
        padding: 0 0 270px;
        grid-gap: 70px 50px;
    }

    img {
        width: 100%;
        margin-top: 15px;
        opacity: 0.7;

        @include mq($tabletMediaQuery) {
            margin: 0;
        }
    }

    img:nth-child(7),
    img:nth-child(8) {
        display: none;

        @include mq($laptopMediaQuery) {
            display: initial;
        }
    }
}

.image-wall-outer {

    @include mq($tabletMediaQuery) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        padding: 50px $tabletOuterPadding 0;
    }

    @include mq($laptopMediaQuery) {
        padding: 50px $laptopOuterPadding 0;
    }

    @include mq($desktopMediaQuery) {
        padding: 0;
        max-width: $desktopMediaQuery;
        margin: 0 auto;
        grid-gap: 50px;
    }

    .image-wall-mask {
        height: 45vh;
        width: 100%;

        @include mq($tabletMediaQuery) {
            height: 40vh;
            border-radius: 6px;
        }

        @include mq($laptopMediaQuery) {
            height: 65vh;
            border-radius: 10px;
        }

        .image-wall {
            background-image: url("../images/me-scotland-1.jpg");
        }
    }

    .image-wall-mask:nth-child(2) {
        margin-top: 10px;

        @include mq($tabletMediaQuery) {
            margin-top: -50px;
        }

        @include mq($desktopMediaQuery) {
            margin-top: -100px;
        }

        .image-wall {
            background-image: url("../images/me-silver-desk.jpg");
        }
    }
}