@import 'variables';

header {
    padding: 12px 25px 0;

    @include mq($tabletMediaQuery) {
        padding: 20px $tabletOuterPadding 0;
    }

    @include mq($laptopMediaQuery) {
        padding: 30px $laptopOuterPadding 0;
    }

    @include mq($desktopMediaQuery) {
        padding: 40px $desktopOuterPadding 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 60px;

            @include mq($tabletMediaQuery) {
                width: 70px;
            }
        }

        .menu-container-right {
            display: flex;
            align-items: center;
            margin-right: -18px;
        }

        .menu-contact-btn {
            display: none;

            @include mq($laptopMediaQuery) {
                display: initial;
                border: none;
                background: none;
                font-size: 16px;
                font-family: $main-font-semibold;
                color: $buttonColour;
                margin-right: 40px;
                background-color: #FDF0EC;
                padding: 15px 25px;
                border-radius: 10px;
                cursor: pointer;
            }
        }

        /* The side navigation menu */
        .sidenav {
            height: 100vh;
            width: 0;
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0; /* Stay at the top */
            right: 0;
            background-color: #fff;
            overflow-x: hidden; /* Disable horizontal scroll */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .closebtn {
                position: absolute;
                top: 12px;
                right: 8px;
                font-size: 36px;
                width: 62px;
                height: 62px;
                margin-right: 0;
                border-radius: 100%;
                transition: 0.2s;
                cursor: pointer;
                background: url("../images/menu-icon-closed.svg") center center/18px no-repeat;

                @include mq($tabletMediaQuery) {
                    top: 21px;
                    right: 15px;
                }

                @include mq($laptopMediaQuery) {
                    top: 30px;
                    right: 30px;

                    &:hover {
                        background-color: #EDFAF6;
                    }
                }

                @include mq($desktopMediaQuery) {
                    top: 40px;
                    right: 42px;
                    background: url("../images/menu-icon-closed.svg") center center/20px no-repeat;
                }
            }

            a {
                text-decoration: none;
                font-size: 36px;
                display: block;
                transition: 0.3s;
                font-family: $main-font-semibold;
                color: $headerColour;
                margin: 10px 0;

                @include mq($tabletMediaQuery) {
                    font-size: 54px;
                    margin: 20px 0;
                }

                &:hover {
                    color: #f1f1f1;
                }
            }

            .menu-social-icons {
                position: absolute;
                bottom: 30px;
                right: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include mq($tabletMediaQuery) {
                    bottom: 60px;
                }

                .menu-email-link {
                    font-size: 16px;
                    padding-bottom: 1px;
                    border-bottom: 2px solid $buttonColour;
                    color: $buttonColour;
                    margin: 0 0 25px !important;

                    @include mq($tabletMediaQuery) {
                        font-size: 20px;
                    }
                }
                
                img {
                    margin: 0 3px;
                    width: 41px;

                    @include mq($tabletMediaQuery) {
                        width: 50px;
                        margin: 0 5px;
                    }
                }
            }
        }

        .menu-button-open {
            width: 62px;
            height: 62px;
            margin-right: 0;
            border-radius: 100%;
            transition: 0.2s;
            cursor: pointer;
            background: url("../images/menu-icon-open.svg") center center/22px no-repeat;

            @include mq($laptopMediaQuery) {
                &:hover {
                    background-color: #EDFAF6;
                }
            }
        }
    }
}

