@import 'variables';

.project-intro-section {
    height: calc(100vh - 25vh - 53px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 $mobileOuterPadding; 
    
    @include mq($mobileMediumMediaQuery) {
        height: calc(100vh - 35vh - 53px);
    }

    @include mq($tabletMediaQuery) {
        height: calc(100vh - 43vh - 82px);
        text-align: left;
        padding: 0 $tabletOuterPadding;
        align-items: flex-start;

        h1 {
            max-width: 450px !important;
        }
    }

    @include mq($laptopMediaQuery) {
        height: calc(100vh - 30vh - 100px);
        padding: 0 $laptopOuterPadding;

        h1 {
            max-width: 660px !important;
        }
    }

    @include mq($desktopMediaQuery) {
        margin: 0 auto;
        height: calc(100vh - 30vh - 100px);
        padding: 0;
        width: $laptopMediaQuery;

        h1 {
            max-width: 870px !important;
        }
    }

    p {
        margin-bottom: 10px;
    }
}

.project-feature-image-outer {
    position: relative;

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        padding: 0;
        max-width: $desktopMediaQuery;
        margin: 0 auto;
    }

    img {
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 11;

        @include mq($tabletMediaQuery) {
            display: none;
        }
    }

    .project-feature-image-wrapper {
        height: 40vh;
        width: 100%;

        @include mq($tabletMediaQuery) {
            height: 40vh;
        }

        @include mq($laptopMediaQuery) {
            height: 90vh;
        }
    }
}


.project-overview-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;

        p {
            max-width: 80%;
        }
    }

    @include mq($laptopMediaQuery) {
        padding: 150px $laptopOuterPadding;

        p {
            max-width: 65%;
        }
    }

    @include mq($desktopMediaQuery) {
        padding: 170px 0;
        max-width: $laptopMediaQuery;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 20px;
    }

    .project-btn-wrapper {
        margin-top: 50px;

        .project-btn-primary {
            border: none;
            background: none;
            font-size: 16px;
            font-family: $main-font-semibold;
            color: $buttonColour;
            padding-bottom: 3px;
            margin-right: 20px;
            border-bottom: solid 2.5px $buttonColour;
            cursor: pointer;
            

            @include mq($tabletMediaQuery) {
                background-color: #FDF0EC;
                border: none;
                padding: 15px 25px;
            }

            @include mq($laptopMediaQuery) {
                transition: 0.2s;

                &:hover {
                    background-color: $buttonColour;
                    color: white;
                }
            }
        }

        .project-btn-secondary {
            border: none;
            background: none;
            font-size: 16px;
            font-family: $main-font-semibold;
            color: $buttonColour;
            padding-bottom: 3px;
            border-bottom: solid 2.5px $buttonColour;
            cursor: pointer;

            @include mq($tabletMediaQuery) {
                margin-left: 15px;
            }
        }
    }
}

.project-images-outer {
    padding: 0 0 100px;

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding 120px;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 $laptopOuterPadding 160px;
    }

    @include mq($desktopMediaQuery) {
        padding: 0  0 170px;
        max-width: $desktopMediaQuery;
        margin: 0 auto;
    }

    .project-image-wrapper {
        height: 40vh;
        width: 100%;
        margin-bottom: 15px;

        @include mq($tabletMediaQuery) {
            height: 40vh;
            min-height: 400px;
            margin-bottom: 40px;
        }

        @include mq($laptopMediaQuery) {
            height: 90vh;
        }

        @include mq($desktopMediaQuery) {
            margin-bottom: 80px;
        }

        &:last-child {
            margin-bottom: 0;
        }


        // .project-image {
        //     background-image: url("../images/project-image-3.png");
        // }
    }
}

.other-projects-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;
    }


    .featured-project-intro-copy {
        margin-bottom: 50px;

        h2 {
            margin-bottom: 20px;
            max-width: 220px;
        }
    
        p {
            margin-bottom: 30px;
        }
    }

    .project-tile-wrapper {
        position: relative;

        .project-tile-copy {
            position: absolute;
            top: 20px;
            left: 20px;

            h3, p {
                color: white;
            }

            p {
                font-size: 14px;
            }
        }

        img {
            width: 100%;
        }
    }

    .project-tile-wrapper:nth-child(3),
    .project-tile-wrapper:nth-child(4),
    .project-tile-wrapper:nth-child(5) {
        margin-top: 15px;
    }
    
}