@import 'variables';

.project-intro-section {
    height: calc(100vh - 110px - 53px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 $mobileOuterPadding;  

    @include mq($tabletMediaQuery) {
        height: initial;
        text-align: left;
        margin: 150px 0;
        padding: 0 $tabletOuterPadding;
        align-items: flex-start;

        h1 {
            max-width: 450px !important;
        }
    }

    @include mq($laptopMediaQuery) {
        margin: 160px 0;
        padding: 0 $laptopOuterPadding;

        h1 {
            max-width: 660px !important;
        }
    }

    @include mq($desktopMediaQuery) {
        margin: 170px auto;
        padding: 0;
        width: $laptopMediaQuery;

        h1 {
            max-width: 870px !important;
        }
    }

    p {
        margin-bottom: 10px;
    }
}

.project-feature-image-outer {

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 $laptopOuterPadding;
    }

    @include mq($desktopMediaQuery) {
        padding: 0;
        max-width: $desktopMediaQuery;
        margin: 0 auto;
    }

    .project-feature-image {
        height: 210px;
        width: 100%;
        background-image: url("../images/project-feature.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        @include mq($tabletMediaQuery) {
            height: 407px;
            border-radius: 6px;
        }

        @include mq($laptopMediaQuery) {
            border-radius: 10px;
            height: 670px;
        }

        @include mq($desktopMediaQuery) {
            height: 810px;
        }
    
        img {
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);

            @include mq($tabletMediaQuery) {
                display: none;
            }
        }
    }
}


.project-overview-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;

        p {
            max-width: 80%;
        }
    }

    @include mq($laptopMediaQuery) {
        padding: 150px $laptopOuterPadding;

        p {
            max-width: 65%;
        }
    }

    @include mq($desktopMediaQuery) {
        padding: 170px 0;
        max-width: $laptopMediaQuery;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 20px;
    }

    .project-btn-wrapper {
        margin-top: 50px;

        .project-btn-primary {
            border: none;
            background: none;
            font-size: 16px;
            font-family: $main-font-semibold;
            color: $buttonColour;
            padding-bottom: 3px;
            margin-right: 20px;
            border-bottom: solid 2.5px $buttonColour;

            @include mq($tabletMediaQuery) {
                background-color: #FDF0EC;
                border: none;
                padding: 15px 25px;
                border-radius: 6px;
            }

            @include mq($laptopMediaQuery) {
                border-radius: 10px;
            }
        }

        .project-btn-secondary {
            border: none;
            background: none;
            font-size: 16px;
            font-family: $main-font-semibold;
            color: $buttonColour;
            padding-bottom: 3px;
            border-bottom: solid 2.5px $buttonColour;

            @include mq($tabletMediaQuery) {
                margin-left: 15px;
            }
        }
    }
}

.project-images-outer {
    padding: 0 0 100px;

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding 120px;
    }

    @include mq($laptopMediaQuery) {
        padding: 0 $laptopOuterPadding 160px;
    }

    @include mq($desktopMediaQuery) {
        padding: 0  0 170px;
        max-width: $desktopMediaQuery;
        margin: 0 auto;
    }

    img {
        width: 100%;
        margin-bottom: 15px;

        @include mq($tabletMediaQuery) {
            border-radius: 6px;
            margin-bottom: 40px;
        }

        @include mq($laptopMediaQuery) {
            border-radius: 10px;
        }

        @include mq($desktopMediaQuery) {
            margin-bottom: 80px;
        }
    }

    img:last-child {
        margin-bottom: 0;
    }
}

.other-projects-outer {
    padding: 100px $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        padding: 125px $tabletOuterPadding;
    }


    .featured-project-intro-copy {
        margin-bottom: 50px;

        h2 {
            margin-bottom: 20px;
            max-width: 220px;
        }
    
        p {
            margin-bottom: 30px;
        }
    }

    .project-tile-wrapper {
        position: relative;

        .project-tile-copy {
            position: absolute;
            top: 20px;
            left: 20px;

            h3, p {
                color: white;
            }

            p {
                font-size: 14px;
            }
        }

        img {
            width: 100%;
            border-radius: 6px;
        }
    }

    .project-tile-wrapper:nth-child(3),
    .project-tile-wrapper:nth-child(4),
    .project-tile-wrapper:nth-child(5) {
        margin-top: 15px;
    }
    
}