@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../../fonts/webFonts/Gilroy-Regular/font.woff2') format('woff2'), url('webFonts/Gilroy-Regular/font.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy-Medium';
    src: url('../../fonts/webFonts/Gilroy-Medium/font.woff2') format('woff2'), url('webFonts/Gilroy-Medium/font.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../../fonts/webFonts/Gilroy-SemiBold/font.woff2') format('woff2'), url('webFonts/Gilroy-SemiBold/font.woff') format('woff');
  }

  h1 {
      font-family: $main-font-semibold;
      font-size: 28px;
      line-height: 35px;
      color: $headerColour;

      @include mq($tabletMediaQuery) {
        font-size: 36px;
        max-width: 400px;
        line-height: 42px;
        margin-bottom: 20px;
    }
  }

  .homepage-header {
    font-family: $main-font-semibold !important;
    font-size: 28px !important;
    line-height: 35px !important;
    color: $headerColour !important;

    @include mq($tabletMediaQuery) {
      font-size: 40px !important;
      max-width: 400px !important;
      line-height: 48px !important;
    }
  }

  h2 {
      font-family: $main-font-semibold;
      font-size: 25px;
      line-height: 31px;
      color: $headerColour;

      @include mq($tabletMediaQuery) {
        font-size: 30px;
        line-height: 34px;
      }
  }

  h3 {
    font-family: $main-font-semibold;
    font-size: 20px;
    // line-height: 33px;
    color: $headerColour;

    @include mq($tabletMediaQuery) {
      font-size: 22px;
    }
}

  p {
      font-family: $main-font-regular;
      color: $bodyCopyColour;
      font-size: 16px;
      line-height: 22px;
  }
  