
// COLOURS
$headerColour: #000000;
$bodyCopyColour: rgba(0,0,0,0.45);
$buttonColour: #E95E2A;




// NUMERIC VALUES
$mobileOuterPadding: 25px;
$tabletOuterPadding: 32px;
$laptopOuterPadding: 46px;
$desktopOuterPadding: 60px;

$mobileMediumMediaQuery: 375px;
$tabletMediaQuery: 768px;
$laptopMediaQuery: 1190px;
$desktopMediaQuery: 1434px;


// Fonts
$main-font-regular: 'Gilroy-Regular', Helvetica, sans-serif;
$main-font-medium: 'Gilroy-Medium', Helvetica, sans-serif;
$main-font-semibold: 'Gilroy-SemiBold', Helvetica, sans-serif;