
// COLOURS
$headerColour: #204B44;
$bodyCopyColour: #B4B4B4;
$buttonColour: #E95E2A;




// NUMERIC VALUES
$mobileOuterPadding: 25px;


// Fonts
$main-font-regular: 'Gilroy-Regular', Helvetica, sans-serif;
$main-font-medium: 'Gilroy-Medium', Helvetica, sans-serif;
$main-font-semibold: 'Gilroy-SemiBold', Helvetica, sans-serif;