
@import 'variables';

.work-intro {
    margin: 100px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 $mobileOuterPadding;

    @include mq($tabletMediaQuery) {
        margin: 125px 0;
        text-align: left;
        padding: 0 $tabletOuterPadding;
        align-items: flex-start;
        max-width: 460px;
    }
}

.featured-project-page-outer {
    padding: 0 $mobileOuterPadding 100px;

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding 125px;
        display: flex;
        flex-direction: row;

        .project-left-col {
            width: 50%;
            margin-right: 10px;
        }

        .project-right-col {
            width: 50%;
            margin-left: 10px;
            margin-top: -60px;
        }
    }

    .project-tile-wrapper {
        position: relative;
        margin-bottom: 20px;

        .project-tile-copy {
            position: absolute;
            top: 20px;
            left: 20px;

            h3, p {
                color: white;
            }

            p {
                font-size: 14px;
            }
        }

        img {
            width: 100%;
            border-radius: 6px;
        }
    }
    
}

.other-work-outer {
    padding: 0 $mobileOuterPadding 100px;

    @include mq($tabletMediaQuery) {
        padding: 0 $tabletOuterPadding 125px;
    }

    h2 {
        margin-bottom: 30px;
    }

    .project-accordion {
        background-color: #FBFBFB;
        font-size: 16px;
        font-family: $main-font-semibold;
        color: $headerColour;
        cursor: pointer;
        padding: 18px 15px;
        width: 100%;
        text-align: left;
        border: none;
        border-radius: 6px;
        outline: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq($tabletMediaQuery) {
            font-size: 22px;
            padding: 24px 26px;
        }

        &:after {
            content: '\002B';
            font-size: 28px;
            font-family: $main-font-regular;
            color: #AEBBBA;
            float: right;
            transition: 0.3s;

            @include mq($tabletMediaQuery) {
                font-size: 32px;
            }
        }
    }

    .active:after {
        transform: rotate(45deg);
        transition: 0.3s;
    }
    
    .active {
        border-radius: 6px 6px 0 0;
    }
    
    .project-panel {
        padding: 0 20px;
        background-color: #FBFBFB;
        max-height: 0;
        margin-bottom: 15px;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        border-radius: 0 0 6px 6px;

        @include mq($tabletMediaQuery) {
            padding: 0 26px;
        }

        p {
            padding-bottom: 20px;

            @include mq($tabletMediaQuery) {
                width: 90%;
            }
        }

        .other-project-btn-section {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;

            @include mq($tabletMediaQuery) {
                flex-direction: row-reverse;
                justify-content: flex-end;
            }

            button {
                border: none;
                background: none;
                font-size: 16px;
                font-family: $main-font-semibold;
                color: #E95E2A;
                padding: 15px 0;
                margin: 5px 0;

                @include mq($tabletMediaQuery) {
                    padding: 15px 25px;
                }
            }

            button:nth-child(2) {
                background-color: #FBEEEA;
                border-radius: 6px;
            }
        }
    }
}