<footer id="footer">
    <div class="footer-inner">
        <div class="cta-section">
            <p>Like what you see?</p>
            <p>Get in touch</p>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left-col">
                <a class="transition-link" href="/"><img src="../images/logo-white.png"></a>
                <p>Digital Designer and Web Developer from the Cotswolds. Copyright Nick Cave 2021.</p>
            </div>
            <div class="footer-bottom-right-col">
                <nav>
                    <a class="transition-link" href="/">Home</a>
                    <a class="transition-link" href="/about">About</a>
                    <a class="transition-link" href="/work">Work</a>
                    <a target="_blank" href="mailto:nxdmedia@gmail.com">Contact</a>
                </nav>
                <div class="social-icon-wrapper">
                    <div class="footer-social-icon"></div>
                    <div class="footer-social-icon"></div>
                    <div class="footer-social-icon"></div>
                    <div class="footer-social-icon"></div>
                </div>
            </div>
        </div>
    </div>
</footer>