<footer>
    <div class="cta-section">
        <p>Like what you see?</p>
        <p>Get in touch</p>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-left-col">
            <img src="../images/logo-white.png">
            <p>Digital Designer and Web Developer from the Cotswolds. Copyright Nick Cave 2021.</p>
        </div>
        <div class="footer-bottom-right-col">
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Work</a>
                <a href="#">Contact</a>
            </nav>
            <div class="social-icon-wrapper">
                <img src="../images/instagram.png">
                <img src="../images/dribbble.png">
                <img src="../images/linkedin.png">
                <img src="../images/github.png">
            </div>
        </div>
        
    </div>
</footer>