<header id="navbar">
    <nav>
        <div class="logo-wrapper">
            <a class="transition-link" href="/"><img class="logo" src="../images/logo1.svg"></a>
        </div>
        <div class="menu-container-right">
            <a  target="_blank" href="mailto:nxdmedia@gmail.com"><button class="primary-btn menu-contact-btn">Contact</button></a>
            <div id="mySidenav" class="sidenav">
                <div class="closebtn"></div>
                <div class="menu-items">
                    <a class="transition-link" href="/">Home</a>
                    <a class="transition-link" href="/about">About</a>
                    <a class="transition-link" href="/work">Work</a>
                    <a target="_blank" href="mailto:nxdmedia@gmail.com">Contact</a>
                </div>
                <div class="menu-social-icons-container">
                    <a class="menu-email-link inline-link" target="_blank" href="mailto:nxdmedia@gmail.com">nxdmedia@gmail.com</a>
                    <div class="menu-social-icons-wrapper">
                        <a target="_blank" href="https://www.instagram.com/dsgncave/"><div class="menu-social-icon menu-insta"></div></a>
                        <a target="_blank" href="https://dribbble.com/dsgncave"><div class="menu-social-icon menu-dribbble"></div></a>
                        <a target="_blank" href="https://www.linkedin.com/in/nick-cave-79683574/"><div class="menu-social-icon menu-linked"></div></a>
                        <a target="_blank" href="https://github.com/enarsinick"><div class="menu-social-icon menu-github"></div></a>
                    </div>
                </div>
            </div>
            <div class="menu-button-open"></div>
            <div class="menu-overlay"></div>
        </div>
    </nav>
</header>