<header>
    <nav>
        <div>
            <img class="logo" src="../images/logo1.svg">
        </div>
        <div>
            <img src="../images/menu-icon.png">
        </div>
    </nav>
</header>
