<header id="navbar">
    <nav>
        <div class="logo-wrapper">
            <a class="transition-link" href="/"><img class="logo" src="../images/logo1.svg"></a>
        </div>
        <div class="menu-container-right">
            <a  target="_blank" href="mailto:nxdmedia@gmail.com"><button class="primary-btn menu-contact-btn">Contact</button></a>
            <div id="mySidenav" class="sidenav">
                <div class="closebtn"></div>
                <div class="menu-items">
                    <a class="transition-link" href="/">Home</a>
                    <a class="transition-link" href="/about">About</a>
                    <a class="transition-link" href="/work">Work</a>
                    <a target="_blank" href="mailto:nxdmedia@gmail.com">Contact</a>
                </div>
                <div class="menu-social-icons-container">
                    <a class="menu-email-link" target="_blank" href="mailto:nxdmedia@gmail.com">nxdmedia@gmail.com</a>
                    <div class="menu-social-icons-wrapper">
                        <div class="menu-social-icon"></div>
                        <div class="menu-social-icon"></div>
                        <div class="menu-social-icon"></div>
                        <div class="menu-social-icon"></div> 
                    </div>
                </div>
            </div>
            <div class="menu-button-open"></div>
            <div class="menu-overlay"></div>
        </div>
    </nav>
</header>


{{!-- <div class="menu-button-open" onclick="openNav()"></div> --}}