{{>header}}
<main class="footer-trigger">
    <section class="about-intro-container transition-content"> 
        <div class="about-intro-copy">
            <h1>Designer with a key interest in digital.</h1>
            <p>My love for creating things and always teaching myself something new has given me the set of skills I have today, which allows me to build a website from start to finish.</p>
        </div>

        <div class="about-feature-wrapper">
            <a href="#location"><img class="about-down-arrow" src="../images/down-arrow.png"></a>
            <div class="about-feature-image-container">
                <div class="section-parallax about-feature-image-mask">
                    <div class="parallax-image about-feature-image"></div>
                </div>
                <div class="section-parallax about-feature-image-mask">
                    <div class="parallax-image about-feature-image"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="location" class="location-outer">
        <div class="location-copy animate-content">
            <h2>A small market town in the west country</h2>
            <p>I reside in a small town called Stroud that is located in the beautiful county of Gloucestershire (which is famous for something called cheese rolling), with good links to Cheltenham, Bristol and more.</p>
        </div>
        <img class="animate-content" src="../images/map.png">
    </section>
    <section class="skills-outer">
        <div class="skills-copy animate-content">
            <h2>Skills</h2>
            <p>Being from the west country, I have a natural ability to operate heavy farmyard machinery, but here are some more relevant parts of my skill set.</p>
        </div>
        <div class="skill-tile-section">
            <div class="animate-content">
                <button id="accordion" class="accordion ">Website Design</button>
                <div class="panel green-panel">
                    <img src="../images/green-icon.png">
                    <h5>Digital Design</h5>
                    <p>Creating websites that allow your business to hit the ground running is my bread and butter.</p>
                </div>
            </div>
            <div class="animate-content">
                <button id="accordion" class="purple-accordion accordion">Website Design</button>
                <div class="panel purple-panel">
                    <img src="../images/purple-icon.png">
                    <h5>Web Development</h5>
                    <p>Offering the best of both worlds by bringing my designs to life through optimised code.</p>
                </div>
            </div>
            <div class="animate-content">
                <button id="accordion" class="orange-accordion accordion">Website Design</button>
                <div class="panel orange-panel">
                    <img src="../images/orange-icon.png">
                    <h5>Graphic Design</h5>
                    <p>Years of industry design experience allows me to cover all the bits in-between.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-middle-image-wrapper animate-content">
        <div class="section-parallax middle-feature-image-container ">
            <div class="parallax-image middle-feature-image"></div>
        </div>
    </section>
    <section class="about-logo-wall-outer">
        <h2 class="animate-content">Some of the big name brands I’ve worked on</h2>
        <div class="logo-wall-container animate-content">
            <img src="../images/dell.png">
            <img src="../images/sitecore.png">
            <img src="../images/telefoncia.png">
            <img src="../images/microsoft.png">
            <img src="../images/mediakind.png">
            <img src="../images/telefoncia.png">
            <img src="../images/sitecore.png">
            <img src="../images/telefoncia.png">
            <img src="../images/microsoft.png">
            <img src="../images/sitecore.png">
            <img src="../images/telefoncia.png">
            <img src="../images/microsoft.png">
        </div>
    </section>
    <section class="featured-project-outer">
        <div class="featured-project-intro-copy animate-content">
            <h2>A selection of my favourite projects</h2>
            <p>I've had the pleasure of working on a number of projects during my career, utilising a wide range of disciplines. If you'd like to see more, visit my projects page.</p>
            <a class="transition-link" href="/work"><button class="primary-btn">View all</button></a>
        </div>
        <div class="project-tile-container">
            <div class="project-left-col">
                <div class="project-tile-wrapper animate-content">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <div class="section-parallax project-image-mask">
                        <div class="parallax-image project-image"></div>
                    </div>
                </div>
            </div>
            <div class="project-right-col">
                <div class="project-tile-wrapper animate-content">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <div class="section-parallax project-image-mask">
                        <div class="parallax-image project-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}
