{{>header}}
<main>
    <section class="about-intro-container transition-content"> 
        <div class="about-intro-copy">
            <h1>Lorem ipsum dolor sit amet consetetur elitr</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
        </div>
        <div class="about-feature-image-container">
            <div class="about-feature-image">
                <a href="#location"><img src="../images/down-arrow.png"></a>
            </div>
            <div class="about-feature-image"></div>
        </div>
        
    </section>
    <section id="location" class="location-outer transition-content">
        <div class="location-copy">
            <h2>A small market town in the west country</h2>
            <p>I reside in a small town called Stroud that is located in the beautiful county of Gloucestershire (which is famous for something called cheese rolling), with good links to Cheltenham, Bristol and more.</p>
        </div>
        <img src="../images/map.png">
    </section>
    <section class="skills-outer">
        <div class="skills-copy">
            <h2>Skills</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
        </div>
        <div class="skill-tile-section">
            <div>
                <button id="accordion" class="accordion">Website Design</button>
                <div class="panel green-panel">
                    <img src="../images/green-icon.png">
                    <h5>Website Design</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
            <div>
                <button id="accordion" class="purple-accordion accordion">Website Design</button>
                <div class="panel purple-panel">
                    <img src="../images/purple-icon.png">
                    <h5>Website Design</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
            <div>
                <button id="accordion" class="orange-accordion accordion">Website Design</button>
                <div class="panel orange-panel">
                    <img src="../images/orange-icon.png">
                    <h5>Website Design</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="large-feature-image-container">
        <div class="large-feature-image"></div>
    </section>
    <section class="about-logo-wall-outer">
        <h2>Some of the big name brands I’ve worked on</h2>
        <div class="logo-wall-container">
            <img src="../images/dell.png">
            <img src="../images/sitecore.png">
            <img src="../images/telefoncia.png">
            <img src="../images/microsoft.png">
            <img src="../images/mediakind.png">
            <img src="../images/telefoncia.png">
            <img src="../images/sitecore.png">
            <img src="../images/telefoncia.png">
            <img src="../images/microsoft.png">
            <img src="../images/sitecore.png">
            <img src="../images/telefoncia.png">
            <img src="../images/microsoft.png">
        </div>
    </section>
    <section class="featured-project-outer">
        <div class="featured-project-intro-copy">
            <h2>A selection of my favourite projects</h2>
            <p>I've had the pleasure of working on a number of projects during my career, utilising a wide range of disciplines. If you'd like to see more, visit my projects page.</p>
            <a class="transition-link" href="/work"><button class="primary-btn">View all</button></a>
        </div>
        <div class="project-tile-container">
            <div class="project-left-col">
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <img src="../images/project-image.png">
                </div>
            </div>
            <div class="project-right-col">
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <img src="../images/project-image.png">
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}
