{{>header}}
<main>
    <section class="about-intro">
        <h1>Lorem ipsum dolor sit amet consetetur elitr</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
    </section>
    <section class="about-feature-image">
        <img src="../images/down-arrow.png">
    </section>
    <section class="location-outer">
        <div class="location-copy">
            <h2>A small market town in the west country</h2>
            <p>I reside in a small town called Stroud that is located in the beautiful county of Gloucestershire (which is famous for something called cheese rolling), with good links to Cheltenham, Bristol and more.</p>
        </div>
        <img src="../images/map.png">
    </section>
    <section class="skills-outer">
        <div class="skills-copy">
            <h2>Skills</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
        </div>
        <div class="skill-tile-section">
            <button class="accordion">Website Design</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
            <button class="accordion">Development</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
            <button class="accordion">Graphic Design</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
        </div>
    </section>
    <section class="large-feature-image">

    </section>
    <section class="about-logo-wall-outer">
        <img src="../images/dell.png">
        <img src="../images/sitecore.png">
        <img src="../images/telefoncia.png">
        <img src="../images/microsoft.png">
        <img src="../images/mediakind.png">
    </section>
        <section class="featured-project-outer">
        <div class="featured-project-intro-copy">
            <h2>Lorem ipsum dolor sit amet elitr</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
            <button class="primary-btn">View all</button>
        </div>
        <div class="project-tile-wrapper">
            <div class="project-tile-copy">
                <h3>Mob Network</h3>
                <p>Website and Design</p>
            </div>
            <img src="../images/project-image.png">
        </div>
        <div class="project-tile-wrapper">
            <div class="project-tile-copy">
                <h3>Mob Network</h3>
                <p>Website and Design</p>
            </div>
            <img src="../images/project-image.png">
        </div>
    </section>
</main>
{{>footer}}
