{{>header}}
<main class="footer-trigger">
    <div class="error-content-container transition-content">
        <div class="error-copy">
            <p>{{message}} | Error {{error.status}}</p>
            <h1>Ooops, looks like that can't be found!</h1>
            <a class="transition-link" href="/"><button class="primary-btn">Go home</button></a>
        </div>
        <div class="gif-container">
            <div class="error-gif"></div>
        </div>
    </div>
    <hr class="divider-line transition-content">
    <section class="featured-project-outer">
        <div class="featured-project-intro-copy transition-content">
            <h2>Lorem ipsum dolor sit amet consetetur elitr</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
            <a class="transition-link" href="/work"><button class="primary-btn">View all</button></a>
        </div>
        <div class="project-tile-container">
            <div class="project-left-col">
                <div class="project-tile-wrapper animate-content">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <div class="section-parallax project-image-mask">
                        <div class="parallax-image project-image"></div>
                    </div>
                </div>
            </div>
            <div class="project-right-col">
                <div class="project-tile-wrapper animate-content">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <div class="section-parallax project-image-mask">
                        <div class="parallax-image project-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}

