{{>header}}
<main>
    <!-- Intro and header image -->
    <section>
        <div class="intro-section">
            <h1>Digital Designer and Web Developer</h1>
        </div>
        <!-- Header image here -->
        <div class="feature-image"></div>
    </section>
    <section class="content-outer">
        <div class="content-inner">
            <div class="about-me-home-copy">
                <h2>West country guy who’s not that fond of cider</h2>
                <p>I’m a digital designer and front-end developer based just outside of The Cotswolds in the United Kingdom, I have many years design experience and a keen interest in the web and technology.</p>
                <button class="primary-btn">Learn more</button>
            </div>
            <img class="about-me-home-image" src="../images/me.png">
        </div>
    </section>
</main>
