{{>header}}
<main>
    <!-- Intro and header image -->
    <section class="intro-section-outer">
        <div class="intro-section">
            <h1 class="homepage-header">Digital Designer and Web Developer</h1>
        </div>
        <!-- Header image here -->
        <div class="feature-image">
            <img src="../images/down-arrow.png">
        </div>
    </section>
    <section class="about-me-outer">
        <div class="about-me-home-copy">
            <h2>West country guy who’s not that fond of cider</h2>
            <p>I’m a digital designer and front-end developer based just outside of The Cotswolds in the United Kingdom, I have many years design experience and a keen interest in the web and technology.</p>
            <button class="primary-btn">Learn more</button>
        </div>
        <img class="about-me-home-image" src="../images/me.png">
    </section>
    <section class="logo-wall-outer">
        <img src="../images/dell.png">
        <img src="../images/sitecore.png">
        <img src="../images/telefoncia.png">
        <img src="../images/microsoft.png">
        <img src="../images/mediakind.png">
        <img src="../images/dell.png">
    </section>
    <section class="image-wall-outer">
        <div class="image-wall-mask"></div>
        <div class="image-wall-mask"></div>
    </section>
    <section class="featured-project-outer">
        <div class="featured-project-intro-copy">
            <h2>Lorem ipsum dolor sit amet consetetur elitr</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
            <button class="primary-btn">View all</button>
        </div>
        <div class="project-tile-container">
            <div class="project-left-col">
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <img src="../images/project-image.png">
                </div>
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <img src="../images/project-image.png">
                </div>
            </div>
            <div class="project-right-col">
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <img src="../images/project-image.png">
                </div>
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <img src="../images/project-image.png">
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}
