{{>header}}
<main class="footer-trigger">
    <div>
    <!-- Intro and header image -->
    <section class="intro-section-outer transition-content">
        <div class="intro-section">
            <h1 class="homepage-header">Digital Designer and Web Developer</h1>
        </div>
        <!-- Header image here -->
        <div class="parallax-wrapper">
            <a href="#about-me"><div class="down-arrow"></div></a>
            <div class="section-parallax feature-image-wrapper">
                <div class="parallax-image home-feature-image">
                </div>
            </div>
        </div>
    </section>
    <section id="about-me" class="about-me-outer">
        <div class="about-me-home-copy animate-content">
            <h2>West country guy who’s not that fond of cider</h2>
            <p>I’m a digital designer and web developer based just outside of The Cotswolds in the United Kingdom, I have many years experience within the design industry and a keen interest in the web and technology.</p>
            <a class="transition-link" href="/about"><button class="primary-btn">Learn more</button></a>
        </div>
        <div class="section-parallax home-about-image-wrapper animate-content">
            <div class="parallax-image home-about-image" data-src="./images/me-main-silver.jpg"></div>
        </div>
    </section>
    <section class="logo-wall-outer animate-content">
        <img data-src="../images/dell.png">
        <img data-src="../images/boomi.png">
        <img data-src="../images/digiplex.png">
        <img data-src="../images/telefoncia.png">
        <img data-src="../images/micrsoft.png">
        <img data-src="../images/seagate.png">
        <img data-src="../images/sitecore.png">
        <img data-src="../images/cdw.png">
    </section>
    <section class="image-wall-outer">
        <div class="section-parallax image-wall-mask animate-content">
            <div class="parallax-image image-wall" data-src="./images/me-scotland-1.jpg"></div>
        </div>
        <div class="section-parallax image-wall-mask animate-content">
            <div class="parallax-image image-wall" data-src="./images/me-silver-desk.jpg"></div>
        </div>
    </section>
    <section class="featured-project-outer">
        <div class="featured-project-intro-copy animate-content">
            <h2>A selection of my favourite projects</h2>
            <p>I've had the pleasure of working on a number of projects during my career, utilising a wide range of disciplines. If you'd like to see more, visit my projects page.</p>
            <a class="transition-link" href="/work"><button class="primary-btn">View all</button></a>
        </div>
        <div class="project-tile-container">
            {{#each projects}}
                <a class="transition-link" href="/work/{{this.id}}">
                    <div class="project-tile-wrapper animate-content">
                        <div class="project-tile-copy">
                            <h3>{{this.tile_name}}</h3>
                            <p>{{this.tile_technologies}}</p>
                        </div>
                        <div class="section-parallax project-image-mask">
                            <div class="parallax-image project-image" data-src="{{this.tile_image}}"></div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    </section>
    </div>
</main>
{{>footer}}
