<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Digital Designer and Developer - Nick Cave - Gloucestershire</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
