{{>header}}
<main>
    <section class="project-intro-section">
        <p>Mob Network</p>
        <h1>Lorem ipsum dolor sit amet consetetur elitr sed ut.</h1>
    </section>
    <section class="project-feature-image">
        <img src="../images/down-arrow.png">
    </section>
    <section class="project-overview-outer">
        <h2>Overview</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.<br>
        <br>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <div class="project-btn-wrapper">
            <button class="project-btn-primary">Live preview</button>
            <button class="project-btn-secondary">View code</button>
        </div>
    </section>
    <section class="project-images-outer">
        <img src="../images/project-image-1.png">
        <img src="../images/project-image-2.png">
        <img src="../images/project-image-3.png">
        <img src="../images/project-image-4.png">
        <img src="../images/project-image-5.png">
        <img src="../images/project-image-6.png">
    </section>
    <hr class="divider-line">
    <section class="other-projects-outer">
        <div class="featured-project-intro-copy">
            <h2>Lorem ipsum dolor sit amet elitr</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
            <button class="primary-btn">View all</button>
        </div>
        <div class="project-tile-wrapper">
            <div class="project-tile-copy">
                <h3>Mob Network</h3>
                <p>Website and Design</p>
            </div>
            <img src="../images/project-image.png">
        </div>
        <div class="project-tile-wrapper">
            <div class="project-tile-copy">
                <h3>Mob Network</h3>
                <p>Website and Design</p>
            </div>
            <img src="../images/project-image.png">
        </div>
    </section>
</main>
{{>footer}}
