{{>header}}
<main class="footer-trigger">
    <section class="project-intro-section transition-content">
        <p>Mob Network</p>
        <h1>Lorem ipsum dolor sit amet consetetur elitr sed ut.</h1>
    </section>
    <section class="project-feature-image-outer transition-content">
        <div class="project-feature-image">
           <a href="#overview"><img src="../images/down-arrow.png"></a> 
        </div>
    </section>
    <section id="overview" class="project-overview-outer">
        <div class="animate-text">
            <h2>Overview</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.<br>
            <br>
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="project-btn-wrapper">
                <button class="project-btn-primary">Live preview</button>
                <button class="project-btn-secondary">View code</button>
            </div>
        </div>
        
    </section>
    <section class="project-images-outer">
        <img src="../images/project-image-1.png">
        <img src="../images/project-image-2.png">
        <img src="../images/project-image-3.png">
        <img src="../images/project-image-4.png">
        <img src="../images/project-image-5.png">
        <img src="../images/project-image-6.png">
    </section>
    <hr class="divider-line">
    <section class="featured-project-outer">
        <div class="featured-project-intro-copy animate-text">
            <h2>Lorem ipsum dolor sit amet consetetur elitr</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
            <a class="transition-link" href="/work"><button class="primary-btn">View all</button></a>
        </div>
        <div class="project-tile-container">
            <div class="project-left-col">
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <img src="../images/project-image.png">
                </div>
            </div>
            <div class="project-right-col">
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <img src="../images/project-image.png">
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}
