{{>header}}
<main class="footer-trigger">
    <section class="work-intro transition-content">
        <h1>A hand-picked selection of my work</h1>
        <p>If you’d like to see my full collection of work, which features everything from User Interface Design, Web Development, Branding and Artworking, then please don’t hesitate to <a class="inline-link" target="_blank" href="mailto:nxdmedia@gmail.com">get in touch.</a></p>
    </section>
    <section class="featured-project-outer  work-page-outer transition-content"> 
        <div class="project-tile-container">
            <div class="project-left-col">
                <div class="project-tile-wrapper">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <div class="section-parallax project-image-mask">
                        <div class="parallax-image project-image" data-src="./images/project-image.jpg"></div>
                    </div>
                </div>
                <div class="project-tile-wrapper animate-content">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <div class="section-parallax project-image-mask">
                        <div class="parallax-image project-image" data-src="./images/project-image.jpg"></div>
                    </div>
                </div>
            </div>
            <div class="project-right-col">
                <div class="project-tile-wrapper animate-content">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <div class="section-parallax project-image-mask">
                        <div class="parallax-image project-image" data-src="./images/project-image.jpg"></div>
                    </div>
                </div>
                <div class="project-tile-wrapper animate-content">
                    <div class="project-tile-copy">
                        <h3>Mob Network</h3>
                        <p>Website and Design</p>
                    </div>
                    <div class="section-parallax project-image-mask">
                        <div class="parallax-image project-image" data-src="./images/project-image.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="other-work-outer">
        <h2 class="animate-content">Other projects</h2>
        <button id="accordion" class="project-accordion animate-content">Wheel of Fortune Game</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button class="primary-btn">Live preview</button>
            </div>
        </div>
        <button id="accordion" class="project-accordion animate-content">Employee Directory</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
                <button id="accordion" class="project-accordion animate-content">React Photo Gallery</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
                <button id="accordion" class="project-accordion animate-content">Trivia Application</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
                <button id="accordion" class="project-accordion animate-content">Book Manager</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
    </section>
</main>
{{>footer}}
