{{>header}}
<main>
    <section class="work-intro">
        <h1>Lorem ipsum dolor sit amet consetetur elitr</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
    </section>
    <section class="featured-project-page-outer">
        <div class="project-left-col">
            <div class="project-tile-wrapper">
                <div class="project-tile-copy">
                    <h3>Mob Network</h3>
                    <p>Website and Design</p>
                </div>
                <img src="../images/project-image.png">
            </div>
            <div class="project-tile-wrapper">
                <div class="project-tile-copy">
                    <h3>Mob Network</h3>
                    <p>Website and Design</p>
                </div>
                <img src="../images/project-image.png">
            </div>
        </div>
        <div class="project-right-col">
            <div class="project-tile-wrapper">
                <div class="project-tile-copy">
                    <h3>Mob Network</h3>
                    <p>Website and Design</p>
                </div>
                <img src="../images/project-image.png">
            </div>
            <div class="project-tile-wrapper">
                <div class="project-tile-copy">
                    <h3>Mob Network</h3>
                    <p>Website and Design</p>
                </div>
                <img src="../images/project-image.png">
            </div>
        </div>
    </section>
    <section class="other-projects-outer">
        <h2>Other projects</h2>
        <button id="accordion" class="project-accordion">Wheel of Fortune Game</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
                <button id="accordion" class="project-accordion">Employee Directory</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
                <button id="accordion" class="project-accordion">React Photo Gallery</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
                <button id="accordion" class="project-accordion">Trivia Application</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
                <button id="accordion" class="project-accordion">Book Manager</button>
        <div class="project-panel">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="other-project-btn-section">
                <button>View code</button>
                <button>Live preview</button>
            </div>
        </div>
    </section>
</main>
{{>footer}}
