* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%; }

.divider-line {
  margin: 0 25px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

header {
  padding: 35px 25px 0; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .logo {
      width: 60px; }

footer {
  background-color: #000;
  padding-bottom: 30px; }
  footer .cta-section {
    text-align: center;
    padding: 100px 0 70px; }
    footer .cta-section p:nth-child(1) {
      color: white;
      font-size: 30px;
      font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
      margin-bottom: 15px; }
    footer .cta-section p:nth-child(2) {
      display: inline-block;
      color: white;
      font-size: 30px;
      font-family: "Gilroy-Regular", Helvetica, sans-serif;
      padding-bottom: 5px;
      border-bottom: 2px solid white; }
  footer .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    footer .footer-bottom img {
      margin-bottom: 20px; }
    footer .footer-bottom p {
      max-width: 230px;
      color: white;
      margin-bottom: 35px; }
    footer .footer-bottom .social-icon-wrapper img {
      padding: 0;
      padding: 0 3px; }

.intro-section {
  height: calc(100vh - 195px - 53px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 25px; }

.feature-image {
  height: 300px;
  width: 100%;
  background-image: url("../images/stroud-valley.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .feature-image img {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%); }

.about-me-outer {
  padding: 100px 25px; }
  .about-me-outer h2 {
    margin-bottom: 20px;
    max-width: 220px; }
  .about-me-outer p {
    margin-bottom: 30px; }
  .about-me-outer .about-me-home-image {
    width: 100%;
    margin-top: 50px;
    border-radius: 6px; }

.logo-wall-outer {
  padding: 0 25px 100px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column; }
  .logo-wall-outer img {
    width: 100%;
    margin-top: 35px;
    opacity: 0.2; }

.image-wall-outer .image-wall-mask {
  height: 275px;
  width: 100%;
  background-image: url("../images/stroud-valley.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.image-wall-outer .image-wall-mask:nth-child(2) {
  margin-top: 10px; }

.featured-project-outer {
  padding: 100px 25px; }
  .featured-project-outer .featured-project-intro-copy {
    margin-bottom: 50px; }
    .featured-project-outer .featured-project-intro-copy h2 {
      margin-bottom: 20px;
      max-width: 220px; }
    .featured-project-outer .featured-project-intro-copy p {
      margin-bottom: 30px; }
  .featured-project-outer .project-tile-wrapper {
    position: relative; }
    .featured-project-outer .project-tile-wrapper .project-tile-copy {
      position: absolute;
      top: 20px;
      left: 20px; }
      .featured-project-outer .project-tile-wrapper .project-tile-copy h3, .featured-project-outer .project-tile-wrapper .project-tile-copy p {
        color: white; }
      .featured-project-outer .project-tile-wrapper .project-tile-copy p {
        font-size: 14px; }
    .featured-project-outer .project-tile-wrapper img {
      width: 100%;
      border-radius: 6px; }
  .featured-project-outer .project-tile-wrapper:nth-child(3),
  .featured-project-outer .project-tile-wrapper:nth-child(4),
  .featured-project-outer .project-tile-wrapper:nth-child(5) {
    margin-top: 15px; }

.about-intro {
  height: calc(100vh - 80px - 53px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 25px; }

.about-feature-image {
  height: 300px;
  width: 100%;
  background-image: url("../images/me2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .about-feature-image img {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%); }

.location-outer {
  padding: 100px 25px; }
  .location-outer h2 {
    margin-bottom: 20px; }
  .location-outer img {
    width: 100%;
    margin-top: 50px;
    border-radius: 6px; }

.skills-outer {
  padding: 0 25px; }
  .skills-outer h2 {
    margin-bottom: 20px; }
  .skills-outer .skill-tile-section {
    margin: 50px 0 100px; }
    .skills-outer .skill-tile-section .accordion {
      background-color: #F1FBF8;
      font-size: 22px;
      font-family: "Gilroy-Medium", Helvetica, sans-serif;
      color: #55CFA7;
      cursor: pointer;
      padding: 20px;
      width: 100%;
      text-align: left;
      border: none;
      border-radius: 6px;
      outline: none;
      transition: 0.4s;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .skills-outer .skill-tile-section .accordion:after {
        content: '\002B';
        font-size: 28px;
        color: #55CFA7;
        float: right;
        transition: 0.3s; }
    .skills-outer .skill-tile-section .active:after {
      transform: rotate(45deg);
      color: #55CFA7;
      transition: 0.3s; }
    .skills-outer .skill-tile-section .active, .skills-outer .skill-tile-section .accordion:hover {
      border-radius: 6px 6px 0 0; }
    .skills-outer .skill-tile-section .panel {
      padding: 0 20px;
      background-color: #F1FBF8;
      max-height: 0;
      margin-bottom: 15px;
      overflow: hidden;
      transition: max-height 0.2s ease-in-out; }
      .skills-outer .skill-tile-section .panel p {
        padding-bottom: 20px; }
    .skills-outer .skill-tile-section .accordion:nth-child(3) {
      background-color: #F1F0FE;
      color: #6155FF; }
      .skills-outer .skill-tile-section .accordion:nth-child(3):after {
        color: #6155FF; }
    .skills-outer .skill-tile-section .panel:nth-child(4) {
      background-color: #F1F0FE; }
    .skills-outer .skill-tile-section .accordion:nth-child(5) {
      background-color: #FFF6EC;
      color: #FF8D0F; }
      .skills-outer .skill-tile-section .accordion:nth-child(5):after {
        color: #FF8D0F; }
    .skills-outer .skill-tile-section .panel:nth-child(6) {
      background-color: #FFF6EC; }

.large-feature-image {
  height: 100vh;
  width: 100%;
  background-image: url("../images/stroud-valley.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.about-logo-wall-outer {
  padding: 100px 25px 0;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column; }
  .about-logo-wall-outer img {
    width: 100%;
    margin: 17.5px 0;
    opacity: 0.2; }

.work-intro {
  margin: 100px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 25px; }

.featured-project-page-outer {
  padding: 0 25px 100px; }
  .featured-project-page-outer .project-tile-wrapper {
    position: relative; }
    .featured-project-page-outer .project-tile-wrapper .project-tile-copy {
      position: absolute;
      top: 20px;
      left: 20px; }
      .featured-project-page-outer .project-tile-wrapper .project-tile-copy h3, .featured-project-page-outer .project-tile-wrapper .project-tile-copy p {
        color: white; }
      .featured-project-page-outer .project-tile-wrapper .project-tile-copy p {
        font-size: 14px; }
    .featured-project-page-outer .project-tile-wrapper img {
      width: 100%;
      border-radius: 6px; }
  .featured-project-page-outer .project-tile-wrapper:nth-child(2),
  .featured-project-page-outer .project-tile-wrapper:nth-child(3),
  .featured-project-page-outer .project-tile-wrapper:nth-child(4) {
    margin-top: 15px; }

.other-projects-outer {
  padding: 0 25px 100px; }
  .other-projects-outer h2 {
    margin-bottom: 30px; }
  .other-projects-outer .project-accordion {
    background-color: #FBFBFB;
    font-size: 16px;
    font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
    color: #000000;
    cursor: pointer;
    padding: 18px 15px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 6px;
    outline: none;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .other-projects-outer .project-accordion:after {
      content: '\002B';
      font-size: 28px;
      font-family: "Gilroy-Regular", Helvetica, sans-serif;
      color: #AEBBBA;
      float: right;
      transition: 0.3s; }
  .other-projects-outer .active:after {
    transform: rotate(45deg);
    transition: 0.3s; }
  .other-projects-outer .active {
    border-radius: 6px 6px 0 0; }
  .other-projects-outer .project-panel {
    padding: 0 20px;
    background-color: #FBFBFB;
    max-height: 0;
    margin-bottom: 15px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    border-radius: 0 0 6px 6px; }
    .other-projects-outer .project-panel p {
      padding-bottom: 20px; }
    .other-projects-outer .project-panel .other-project-btn-section {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px; }
      .other-projects-outer .project-panel .other-project-btn-section button {
        border: none;
        background: none;
        font-size: 16px;
        font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
        color: #E95E2A;
        padding: 15px 0;
        margin: 5px 0; }
      .other-projects-outer .project-panel .other-project-btn-section button:nth-child(2) {
        background-color: #FBEEEA;
        border-radius: 6px; }

.project-intro-section {
  height: calc(100vh - 110px - 53px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 25px; }
  .project-intro-section p {
    margin-bottom: 10px; }

.project-feature-image {
  height: 210px;
  width: 100%;
  background-image: url("../images/project-feature.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .project-feature-image img {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%); }

.project-overview-outer {
  padding: 100px 25px; }
  .project-overview-outer h2 {
    margin-bottom: 20px; }
  .project-overview-outer .project-btn-wrapper {
    margin-top: 50px; }
    .project-overview-outer .project-btn-wrapper .project-btn-primary {
      border: none;
      background: none;
      font-size: 16px;
      font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
      color: #E95E2A;
      padding-bottom: 3px;
      margin-right: 20px;
      border-bottom: solid 2.5px #E95E2A; }
    .project-overview-outer .project-btn-wrapper .project-btn-secondary {
      border: none;
      background: none;
      font-size: 16px;
      font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
      color: #E95E2A;
      padding-bottom: 3px;
      border-bottom: solid 2.5px #E95E2A; }

.project-images-outer {
  padding: 0 0 100px; }
  .project-images-outer img {
    width: 100%;
    margin-bottom: 15px; }

.other-projects-outer {
  padding: 100px 25px; }
  .other-projects-outer .featured-project-intro-copy {
    margin-bottom: 50px; }
    .other-projects-outer .featured-project-intro-copy h2 {
      margin-bottom: 20px;
      max-width: 220px; }
    .other-projects-outer .featured-project-intro-copy p {
      margin-bottom: 30px; }
  .other-projects-outer .project-tile-wrapper {
    position: relative; }
    .other-projects-outer .project-tile-wrapper .project-tile-copy {
      position: absolute;
      top: 20px;
      left: 20px; }
      .other-projects-outer .project-tile-wrapper .project-tile-copy h3, .other-projects-outer .project-tile-wrapper .project-tile-copy p {
        color: white; }
      .other-projects-outer .project-tile-wrapper .project-tile-copy p {
        font-size: 14px; }
    .other-projects-outer .project-tile-wrapper img {
      width: 100%;
      border-radius: 6px; }
  .other-projects-outer .project-tile-wrapper:nth-child(3),
  .other-projects-outer .project-tile-wrapper:nth-child(4),
  .other-projects-outer .project-tile-wrapper:nth-child(5) {
    margin-top: 15px; }

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../../fonts/webFonts/Gilroy-Regular/font.woff2") format("woff2"), url("webFonts/Gilroy-Regular/font.woff") format("woff"); }

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../../fonts/webFonts/Gilroy-Medium/font.woff2") format("woff2"), url("webFonts/Gilroy-Medium/font.woff") format("woff"); }

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../../fonts/webFonts/Gilroy-SemiBold/font.woff2") format("woff2"), url("webFonts/Gilroy-SemiBold/font.woff") format("woff"); }

h1 {
  font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
  font-size: 28px;
  line-height: 35px;
  color: #000000; }

h2 {
  font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
  font-size: 25px;
  line-height: 31px;
  color: #000000; }

h3 {
  font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
  font-size: 20px;
  color: #000000; }

p {
  font-family: "Gilroy-Regular", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  line-height: 22px; }

.primary-btn {
  border: none;
  background: none;
  font-size: 16px;
  font-family: "Gilroy-SemiBold", Helvetica, sans-serif;
  color: #E95E2A;
  padding-bottom: 3px;
  border-bottom: solid 2.5px #E95E2A; }
